<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h5 class="ml-5 mb-3">当日受付確認フォーム</h5>
      <%= form_with model: @new_reception, remote: true do |f| %>
        <table class="table-sm">
          <tr>
            <td><h6>患者氏名</h6></td>
            <td><%= current_patient.last_name %>　<%= current_patient.first_name %>　様</td>
          </tr>
          <tr>
            <td><h6>あなたの順番</h6></td>
            <td><%= f.text_field :number, readonly: true %>番目</td>
          </tr>
          <tr>
            <td><h6>受診開始予定時間</h6></td>
            <td><%= f.text_field :start_time, value: @new_reception.start_time.strftime("%Y/%m/%d %H:%M"), readonly: true %>ころ</td>
          </tr>
          <%= f.hidden_field :patient_id %>
          <%= f.hidden_field :congestion_id %>
          <%= f.hidden_field :examination_status, value: '発行済' %>
          <tr>
            <td></td><td><%= f.submit '当日受付確定', class:"btn btn-outline-primary" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
