<div class="container mt-5">
  <div class="row">
    <div class="col-7 offset-1">
      <h5 class="ml-5 mb-3">お知らせ一覧</h5>
    </div>
    <div class="col-3">
      <%= link_to 'お知らせ作成' , new_admin_information_path, class:"btn btn-sm btn-outline-primary" %>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-10 offset-1">
      <table class="table table-striped">
          <tr>
          <td>投稿日時</td>
          <td>テーマ</td>
          <td>投稿画像</td>
          <td>件名</td>
          </tr>
          <% @informations.each do |information| %>
              <tr>
                <td><%= information.created_at.strftime("%Y/%m/%d %H:%M") %></td>
                <td><%= information.theme.name %></td>
                <td><%= attachment_image_tag information, :image, fallback: "no_image.jpg", size: "240x200" %></td>
                <td>
                  <%= link_to admin_information_path(information.id) do %>
                   <%= information.subject %>
                  <% end %>
                </td>
              </tr>
          <% end %>
      </table>
      <%= paginate @informations %>
    </div>
  </div>
</div>
