<div class="container mt-5">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <h5 class="ml-5 mb-3">予約フォーム</h5>
      <%= form_with model:@new_reservation, local:true do |f| %>
        <table class="table-sm">
          <tr>
            <td><h6>受診日時</h6></td>
            <td><%= f.date_field :date_time %></td>
          </tr>
          <tr>
            <td><h6>受診回数</h6></td>
            <td><%= f.select :examination_count, [["初診", 0], ["複数回", 1]], include_blank: "選択して下さい" %></td>
          </tr>
          <tr>
            <td><h6>症状</h6></td>
            <td><%= f.text_area :symptom %></td>
          </tr>
          <tr>
            <td><h6>身体部位</h6></td>
            <td><%= f.text_field :body_parts %></td>
          </tr>
          <tr>
            <td><h6>症状日</h6></td>
            <td><%= f.date_field :starting_point %></td>
          </tr>
          <tr>
            <td><h6>治療の有無</h6></td>
            <td><%= f.select :treatment, [["あり", 0], ["なし", 1]], include_blank: "選択して下さい" %></td>
          </tr>
          <tr>
            <td><h6>処方中の薬</h6></td>
            <td><%= f.text_area :prescription %></td>
          </tr>
          <tr>
            <td><h6>副作用の有無</h6></td>
            <td><%= f.select :side_effects, [["あり", 0], ["なし", 1]], include_blank: "選択して下さい" %></td>
          </tr>
          <tr>
            <td><h6>他の病気</h6></td>
            <td><%= f.text_field :other_diseases %></td>
          </tr>
          <tr>
            <td><h6>病院名</h6></td>
            <td><%= f.text_area :hospital_name %></td>
          </tr>
          <tr>
            <td><h6>妊娠の有無</h6></td>
            <td><%= f.select :pregnancy, [["なし", 0], ["可能性あり", 1], ["妊娠中", 2], ["授乳中", 3]], include_blank: "選択して下さい" %></td>
          </tr>
          <tr>
            <td><h6>受診目的</h6></td>
            <td><%= f.select :purpose, [["処方箋のみ", 0], ["診察＋処方箋", 1], ["診察＋検査＋処方箋", 2]], include_blank: "選択して下さい" %></td>
          </tr>
          <tr>
            <td><h6>医師への要望</h6></td>
            <td><%= f.text_area :request %></td>
          </tr>
          <%= f.hidden_field :examination_status, {value: '受診前'} %>
          <tr>
            <td></td><td><%= f.submit '予約確定', class:"btn btn-outline-primary" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>
