<h2>ただいまの待ち状況</h2>
<%= @congestion.count %>
<%= @congestion.time %>

<%= form_with model: @congestion, url: admin_congestion_path(@congestion.id), local: true do |f| %>
<table class="table-sm table-bordered table-striped mt-3 padding-10">
  <thead class="thead-light">
    <tr>
      <th>待ち人数</th>
      <th>待ち時間</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= f.number_field :count, min: 0 %></td>
      <td><%= f.number_field :time, value: @congestion.count * 20, readonly: true %></td>
      <td><%= f.submit "更新", class:"btn btn-sm btn-success"%></td>
    </tr>
  </tbody>
</table>
<% end %>