<%= form_with url: search_path, method: :get, local: :true do |f| %>
      <%= f.select :range, options_for_select(['Information']) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"], ["前方一致","forward_match"], ["後方一致","backward_match"]]) %>
      <%= f.text_field :word %>
      <%= f.submit "検索" %>
<% end %>
<div class="container mt-5">
  <div class="row">
    <div class="col-7 offset-1">
      <h5 class="ml-5 mb-3">お知らせ一覧</h5>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-10 offset-1">
      <table class="table table-striped">
          <tr>
          <td>お知らせID</td>
          <td>テーマ</td>
          <td>投稿画像</td>
          <td>件名</td>
          <td></td>
          </tr>
          <% @informations.each do |information| %>
              <tr>
                <td><%= information.id %></td>
                <td><%= information.theme.name %></td>
                <td><%= attachment_image_tag information, :image, fallback: "no_image.jpg", size: "240x200" %></td>
                <td>
                  <%= link_to information_path(information.id) do %>
                   <%= information.subject %>
                  <% end %>
                </td>
                <td id="favorite-btn-<%= information.id %>">
                  <%= render "public/favorites/favorite-btn", information: information %>
                </td>
              </tr>
          <% end %>
      </table>
      <%= paginate @informations %>
    </div>
  </div>
</div>
