<div class="container mt-5">
  <div class="row">
    <div class="col-10 offset-1">
    <h5 class="ml-5 mt-5">お知らせ詳細</h5>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <table class="table-sm">
        <tr>
          <td><h6>テーマ</h6></td>
          <td><%= @information.theme.name %></td>
        </tr>
        <tr>
          <td><h6>件名</h6></td>
          <td><%= @information.subject %></td>
        </tr>
        <tr>
          <td><h6>お知らせ画像</h6></td>
          <td><%= attachment_image_tag @information, :image, fallback: "no_image.jpg", size: "240x200" %></td>
        </tr>
        <tr>
          <td><h6>詳細</h6></td>
          <td><%= @information.body %></td>
        </tr>
          <% if @information.favorited_by?(current_patient) %>
            <p>
              <%= link_to information_favorites_path(@information), method: :delete do %>
                ★<%= @information.favorites.count %> いいね
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to information_favorites_path(@information), method: :post do %>
                ☆<%= @information.favorites.count %> いいね
              <% end %>
            </p>
          <% end %>
      </table>
    </div>
  </div>
</div>
