<%= form_with url: search_path, method: :get, local: :true do |f| %>
      <%= f.select :range, options_for_select(['Information']) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"], ["前方一致","forward_match"], ["後方一致","backward_match"]]) %>
      <%= f.text_field :word %>
      <%= f.submit "検索" %>
<% end %>
<div class="container mt-5">
  <div class="row">
    <div class="col-10 offset-1">
    <h5 class="ml-5 mt-5">お知らせ詳細</h5>
    </div>
    <div class="col-12">
      <table class="table-sm">
        <tr>
          <td><h6>テーマ</h6></td>
          <td><%= @information.theme.name %></td>
        </tr>
        <tr>
          <td><h6>件名</h6></td>
          <td><%= @information.subject %></td>
        </tr>
        <tr>
          <td><h6>お知らせ画像</h6></td>
          <td data-toggle="modal" data-target="#image_modal-<%= @information.id %>">
            <%= attachment_image_tag @information, :image, fallback: "no_image.jpg", size: "240x200" %>
          </td>
            <div class="modal fade" id="image_modal-<%= @information.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                  </div>
                  <div class="modal-body">
                    <%= attachment_image_tag @information, :image, fallback: "no_image.jpg", size: "240x200" %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
                  </div>
                </div>
              </div>
            </div>
        </tr>
        <tr>
          <td><h6>詳細</h6></td>
          <td><%= @information.body %></td>
        </tr>
          <p id="favorite-btn-<%= @information.id %>"><%= render "public/favorites/favorite-btn", information: @information %></p>
      </table>
    </div>
  </div>
</div>
