<!DOCTYPE html>
<html>
  <head>
    <title>SmartDoctor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-info bg-warning">
        <div class="container">
          <a class="navbar-brand p-3" href="/">病院ロゴ</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                  <% if patient_signed_in? %>
                    <p class="text-light mt-2">ようこそ、<%= current_patient.last_name %>さん！</p>
                    <li class="nav-item">
                      <%= link_to 'お知らせ', informations_path, class:"nav-link btn btn-sm btn-outline-light ml-5" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to 'マイページ', patient_path(current_patient.id), class:"nav-link btn btn-sm btn-outline-light ml-5"  %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '空き状況', congestions_path, class:"nav-link btn btn-sm  btn-outline-light ml-5" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to 'ログアウト', destroy_patient_session_path, method: :delete, class:"nav-link btn btn-sm  btn-outline-light ml-5" %>
                    </li>
                  <% elsif admin_signed_in? %>
                    <li class="nav-item">
                      <%= link_to '予約一覧', admin_reservations_path, class:"nav-link btn btn-sm  btn-outline-light ml-5" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '受診一覧', admin_examinations_path, class:"nav-link btn btn-sm  btn-outline-light ml-5" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '患者一覧', admin_patients_path, class:"nav-link btn btn-sm  btn-outline-light ml-5" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to 'お知らせ一覧', admin_informations_path, class:"nav-link btn btn-sm  btn-outline-light ml-5" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to 'テーマ一覧', admin_themes_path, class:"nav-link btn btn-sm  btn-outline-light ml-5" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class:"nav-link btn btn-sm  btn-outline-light ml-5" %>
                    </li>
                    <%= form_with url: search_path, method: :get, local: :true do |f| %>
                          <%= f.select :range, options_for_select([['Patient'], ['Reservation'], ['Reception'], ['Examination']]) %>
                          <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"], ["前方一致","forward_match"], ["後方一致","backward_match"]]) %>
                          <%= f.text_field :word %>
                          <%= f.submit "検索" %>
                    <% end %>
                  <% else %>
                    <li class="nav-item">
                      <%= link_to '施設紹介', about_path, class:"nav-link btn btn-sm  btn-outline-light ml-5" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to 'お知らせ', informations_path, class:"nav-link btn btn-sm  btn-outline-light ml-5" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '空き状況', congestions_path, class:"nav-link btn btn-sm  btn-outline-light ml-5" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to '新規登録', new_patient_registration_path, class:"nav-link btn btn-sm  btn-outline-light ml-5" %>
                    </li>
                    <li class="nav-item">
                      <%= link_to 'ログイン', patient_session_path, method: :post, class:"nav-link btn btn-sm  btn-outline-light ml-5" %>
                    </li>
                  <% end %>
                </ul>
              </div>
        </div>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>
      <nav class="navbar navbar-expand-lg navbar-info">
        <div class="container d-flex justify-content-center">
          <div class="row">
            <div class>
              <p class="mt-4">Copyright ©SmartDoctor. All Rights Reserved</p>
            </div>
          </div>
        </div>
      </nav>
    </footer>
  </body>
</html>
